@import '../Skin/SkinModern/skin';

#player {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.bmpui-ui-controlbar,
.bmpui-ui-selectbox,
.bmpui-ui-settings-panel-item,
.bmpui-ui-settings-panel {
  -webkit-app-region: no-drag;
}

.bmpui-ui-rewindbutton {
  background-image: url('../Asset/SkinModern/images/rewind.svg');
  background-size: contain;
}

.bmpui-ui-forwardbutton {
  background-image: url('../Asset/SkinModern/images/forward.svg');
  background-size: contain;
}

.bmpui-ui-rewindbutton:hover, .bmpui-ui-forwardbutton:hover {
  -webkit-filter: drop-shadow(0 0 1px #fff);
  filter: drop-shadow(0 0 1px #fff);
}
