.additional-streams-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: Max(10vw, 64px);
  height: 100vh;
  right: 0;
  justify-content: center;
  animation: fadeOut 5s forwards;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.additional-streams-overlay:hover {
  opacity: 1;
  animation: none;
}

.additional-streams-overlay > button {
  pointer-events: auto;
  -webkit-app-region: no-drag;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
