body {
  background-color: #303030;
  min-height: 270px;
  min-width: 480px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-app-region: drag;
}

.bmpui-ui-controlbar,
.bmpui-ui-selectbox,
.bmpui-ui-settings-panel-item,
.bmpui-ui-settings-panel {
  -webkit-app-region: no-drag;
}
